<template>
    <div class="center-inside" id="page_window">
        <div class="menu_div_cl"></div>
    </div>
</template>
<script>
    //lets check which theme we are at
    console.log("yes theme is" + whichTheme);
    let detailMainDiv = document.getElementsByClassName("menu_div_cl")[0];

    let div = document.createElement("div");
    div.className = "detail_div";
    div.innerHTML = `
         <div class="row_detail">
        <div class="column leftCol">
              <p class="title_num" id="detail_about_title">ABOUT THE TREND</p>
              <div class="title_text menu_title_text" id="menu_title2">
                <p>${title_name[whichTheme]}</p>
                <p class="detail_explain col_left_text">
                   ${title_des[whichTheme]}
                </p>
              </div>
              <div
                class="cta_menu clickable title_text menu_title_text"
                id="menu_cta"
              >EXPLORE
                <img id="arrow_icon" src="resources/img/arrow_icon.svg" alt="" />
              </div>
            </div>
            <div class="column midCol">
              <img src="resources/img/s${whichTheme + 1}.jpg" alt="" />
            </div>
        </div>

          </div>
    `;
    detailMainDiv.append(div);


    let ticking = false;
    let lastScrollLeft = 0;
    $(window).scroll(function() {
        if (!ticking) {
            window.requestAnimationFrame(function() {

                var documentScrollLeft = $(document).scrollLeft();
                if (lastScrollLeft != documentScrollLeft) {
                    console.log('scroll x');
                    lastScrollLeft = documentScrollLeft;
                }

                ticking = false;
            });
            ticking = true;
        }
    });

    ////below the right col part
    // <div className="rigCol">
    //     <div className="title_text menu_title_text" id="detail_product_title">
    //         <p>FEATURED PRODUCTS</p>
    //         <section className="product-cata detail_cata">
    //             <div className="catalog theme_catalog" value="theme${whichTheme + 1}"></div>
    //         </section>
    //     </div>
</script>
