<template>
  <div class="body_cl">
    <div class="center-inside" id="enter_flex">
      <p class="loader_title loader_later_text">SQUARESPACE PRESENTS</p>
      <div id="enter_title">
        <span class="loader_font enter_main_title">BROWSER HIST</span>
        <span class="loader_o enter_main_title_o" id="loader_bar_id"></span>
        <span class="loader_font enter_main_title">RY</span>
      </div>
      <p class="enter_text loader_later_text">
        Short explanation of all trends desribing each of them ut perspiciatis
        unde omnis iste natus sit tatem accusantium doloremque laudantium, totam
        rem aperiam.
      </p>
      <button class="button enter_button clickable loader_later_text" id="start_button">
        START SHOPPING
      </button>
    </div>
    <div id="box"></div>
    <!-- <script></script> -->
    <!-- <script src="js/loading.js"></script> -->
  </div>
</template>
