<template>
  <div class="body_cl" id="index_page_id">
    <section class="product-cata">
      <div class="catalog" id="app" value="all">
      </div>
    </section>
    <div class="sub-title">
      <div class="sub-title-text">INDEX</div>
    </div>
  </div>
</template>
<script>
  console.log("in index.js!");
  let indexCata=document.getElementById("app");
  let value = indexCata.getAttribute("value");
  console.log(value);

  if (value == "all") {
    console.log("value====all");
    indexCata.innerHTML = `
    ${itemsData.map(totalItemTemplate).join("")}
  `;
  }
  // for (let i = 1; i < 4; i++) {
  //   if (value == "theme" + i) {
  //     console.log("they2");
  //     document.getElementsByClassName("catalog")[0].innerHTML = `
  //       ${eval(`itemsDataT${i}`)
  //         .map(eval(`itemTemplate${i}`))
  //         .join("")}
  //     `;
  //   }
  // }

  let itemsDesArray = document.getElementsByClassName("cardBox");
  Array.from(itemsDesArray).map((ele, idx) => {
    let event = ["onmouseenter", "onmouseleave"];
    ele.status = true;
    event.map((item) => {
      ele[item] = (ev) => {
        let ele = ev.target.children[0];
        if (!ele) return;
        ele.status = !ele.status;
        ele.style.display = ele.status ? "none" : "block";
      };
    });
  });
</script>