<template>
  <div class="body_cl" id="info_page_id">
    <div class="center-inside" id="page_window">
      <div class="menu_div_cl">
        <div class="row">
          <div class="column leftCol_menu">
            <p
              class="menu_title_text title_num animate__fadeInUp"
              id="menu_title1"
            >
              ABOUT THIS<br />PROJECT
            </p>
          </div>
          <div class="column rigCol_menu" id="rigCol_info_id">
            <p class="info_title">
              Squarespace exists to help artists, activists and entrepreneurs
              achieve their dreams on their own terms.
            </p>
            <p class="info_title_s">About Our partnership with Fotografiska</p>
            <p class="info_main_text">
              Squarespace exists to help artists, activists and entrepreneurs
              achieve their dreams on their own terms. Our tools democratize
              world-class design for everyone and help our customers build
              standout brands and businesses online.
            </p>
            <p class="info_title_s">About Squarespace</p>
            <p class="info_main_text">
              Squarespace exists to help artists, activists and entrepreneurs
              achieve their dreams on their own terms. Our tools democratize
              world-class design for everyone and help our customers build
              standout brands and businesses online.
            </p>
            <button
              class="purchase_btn button clickable"
              id="sqsp_btn_id"
              onclick="location.href='https://www.squarespace.com'"
            >
              SQUARESPACE.COM
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
