<template>
  <div class="body_cl" id="menu_detail_main_id"></div>
</template>
<script>
  //-------------- menu page scroll ---------------//
  var menuInsteadOfDetail = true;
  if (menuInsteadOfDetail) {
    renderMenu();
    // goDetailPage();
  }
  function renderMenu() {
    console.log("now in the menu page");
    document.getElementById("menu_detail_main_id").innerHTML = `
  <div class="center-inside" id="page_window">
      <div class="menu_div_cl">
        <div class="row">
          <div class="column leftCol_menu">
            <p class="menu_title_text title_num" id="menu_title1">1/4</p>
            <div class="menu_title_text title_text" id="menu_title2">
              <p class="animate__animated animate__fadeInUp">BIG NESTING</p>
              <p
                class="
                  animate__animated animate__fadeInUp
                  lineTwo_title
                  animate__delay-2s
                "
              >
                ENERGY
              </p>
            </div>
            <div
              class="
                menu_title_text
                cta_menu
                clickable
                animate__animated animate__fadeInUp
              "
              id="menu_cta"
            ><span>VIEW</span>
              <img
                id="arrow_icon"
                src="../resources/img/arrow_icon.svg"
                alt=""
              />
            </div>
          </div>
          <div class="column rigCol_menu">
            <img id="menu_main_pic_id" src="../resources/img/f1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  `;

    //----if in menu state pass the i -----//
    let menu_title1 = document.getElementById("menu_title1");
    let menu_title2 = document.getElementById("menu_title2");
    // let viewBtn = document.getElementById("menu_cta");
    let menu_main_pic_id = document.getElementById("menu_main_pic_id");


    let i = 0;
    let box = document.getElementById("page_window");
    wheel(box, (status) => {
      console.log(status ? "上" : "下");
      if (status) {
        //scroll up
        i--;
      } else {
        //scroll down
        i++;
      }
      if (i > 3) {
        i = 0;
      }
      if (i < 0) {
        i = 3;
      }
      // console.log("i is" + i);
      menu_title1.innerHTML = title_num[i];
      menu_title2.innerHTML = title_name[i];
      menu_main_pic_id.src = `../resources/img/f${i + 1}.jpg`;
    });
  }

  function wheel(ele, callback) {
    let timer;
    ele.onwheel = (ev) => {
      clearTimeout(timer);
      let { wheelDelta } = ev;
      timer = setTimeout(() => {
        // console.log("测试");
        callback(wheelDelta > 0 ? true : false);
      }, 200);
    };
  }

  //------------------------- detail page  ---------------------//
  // console.log("find viewBTN "+viewBtn);
  let viewBtn = document.getElementById("menu_cta");
  viewBtn.addEventListener("click", goDetailPage);
  console.log("i1is " + itemsDataT1.length);
  function goDetailPage() {
    render
      .create("detail", document.getElementById("menu_detail_main_id"), {
        animate: "fadeIn",
        mode: "cover",
        load: "loadDetail",
      })
      .then((res) => {
        console.log("Go detail page!!!! yeah!!");
      });

    // menuInsteadOfDetail = false;
    
  }
</script>
