* {
  margin: 0;
  padding: 0;
  font-family: Clarkson-BookProduct;
  border: none;
}
@font-face {
  font-family: Clarkson-BookProduct;
  src: url(resources/Clarkson-BookProduct.otf);
}
/* change button mouse */
a,
#download-section,
#close-list-btn,
#all-project-btn,
button {
  cursor: pointer;
}
.sqsp-logo {
  position: absolute;
  width: 180px;
  left: 33px;
  top: 35px;
}
#all-project-btn {
  position: absolute;
  right: 33px;
  top: 42px;
}
.login-bg {
  width: 100%;
  height: 100%;
  background-image: url("resources/SQSP_Upload_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-box {
  position: absolute;
  width: 278px;
  height: 334px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#log-form,#reg-form {
  width: 88%;
}
#log-form{
  /* height: 247px; */
}
#log-form-div{
    height: 247px;
}
#login-text{
  font-size: 10px;
  padding-bottom: 6px;
}
#upload-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #000000;
  border-radius: 50%;
  border: none;
}
.title-font {
  font-size: 22px;
  line-height: 100%;
  color: #000000;
}
.sub-title-font,
#chosen-image-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
}
#chosen-image-text {
  color: red;
}

#password,#login-password,
#confirm_password,
#project-name {
  display: block;
  height: 30px;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #000000;
}
#login-password{
 margin-top:20px; 
}
.btns {
  display: block;
  background: #000000;
  border-radius: 40px;
  height: 51px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
#submit-btn,#login-btn {
  margin-top: 30px;
  width: 100%;
}
.upload-text {
  display: inline-block;
  margin-left: 12px;
}
.cross-line-btn {
  color: white;
  height: 2px;
  width: 14px;
}

.upload-div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#list-array {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  /* width: 30%; */
  width: 0;
  height: 100%;
  transition: 0.5s;
  background-color: #000000;
}
#project-list {
  color: white;
  margin-top: 80px;
}

#menu-filter {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#list-array p,
.project-name-a {
  margin-left: 100px;
  margin-top: 25px;
  text-transform: capitalize;
  white-space: nowrap;
}
#list-array p {
  color: white;
}

#close-list-btn {
  /* position: relative;
  right: -50%;
  top: 50px; */
  width: 90%;
  position: absolute;
  top: 50px;
  /* right: 50px; */
  /* background-color: pink; */
  display: flex;
  align-items: center;
}
#close-list-btn p {
  color: white;
  margin-right: 10px;
  margin-left: auto;
  margin-right: 14px;
  margin-top: 0;
}
.menu-hr {
  height: 0.5px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin-top: 30px;
}
/* .project-title-line {
  border: 1px solid #000000;
  width: 80%;
  left: 10%;
} */
.project-text-grey {
  /* padding-left: 5%; */
  font-size: 14px;
  color: #b8b8b8;
  /* padding-left: 5%; */

  margin-bottom: 5px;
}
.project-display {
  position: relative;
  top: 180px;
  width: 90%;
  min-height: 50%;
  padding-bottom: 200px;
  padding-left: 5%;
}
#project-title-text {
  font-size: 22px;
  line-height: 100%;
  text-transform: capitalize;
  /* padding-left: 5%; */
}
.project-image-div {
  display: inline-block;
  margin: 2%;
}
.project-image:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.project-name-a {
  display: block;
  color: white;
  opacity: 0.5;
}
.active,
.project-name-a:hover {
  opacity: 1;
}
.pic-name {
  padding-top: 2%;
  font-size: 12px;
  text-overflow: ellipsis;
}
.project-display img {
  /* position: absolute; */
  /* top: 0; */
  object-fit: cover;
  width: 200px;
  height: 200px;
  /* padding-left: 5%; */
  padding-top: 5%;
}
/* progress bar */
#progress-div {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
}
.progress-text {
  color: red;
  font-size: 18px;
}
.detail-line {
  margin-top: 28px;
  height: 0px;
  border: 1px solid #000000;
}
#download-section {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
  right: 50px;
}
#download-section img {
  display: inline-block;
  width: 16px;
  height: 18px;
  padding: 0;
}
#download-section p {
  display: inline-block;
  padding-left: 13px;
}
#share-btn {
  display: inline-block;
  /* margin-left: auto; */
  color: white;
  width: 158px;
  height: 51px;
  background-color: #000000;
  border-radius: 40px;
  font-size: 16px;
}
.project-des {
  display: flex;
  align-items: center;
}
.list-array-title {
  margin-top: 140px !important;
}
#copied-link {
  display: none;
  position: fixed;
  transition: 1s;
  width: 200px;
  height: 50px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: black;
  opacity: 0.6;
  border-radius: 20px;
}
