@font-face {
  font-family: "clark_book";
  src: url("../resources/Clarkson/Clarkson-BookProduct.woff") format("woff");
}

@font-face {
  font-family: "clark_light";
  src: url("../resources/Clarkson/Clarkson-Light.woff") format("woff");
}

body {
  background-color: #efedea;
  margin: 0;
  font-family: clark_book;
  padding: 0;
  cursor: defalut;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.body_cl {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.transitionAni {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.legal {
  position: fixed;
  top: 0;
  z-index: 100;
}

.legal_item {
  display: inline-block;
  position: absolute;
  font-size: 20px;
}

.legal_top {
  position: fixed;
  top: 25px;
  left: 0;
  display: inline-block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  vertical-align: top;
  height: 30px;
  width: 100vw;
}

.legal_bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 20;
  height: 73.04px;
  background-color: #efedea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legal_bottom_links {
  font-size: 18px;
  color: #010101;
  text-decoration: none;
}

#legal_logo {
  left: 25px;
}

#legal_info {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
}

#legal_mode {
  left: 70%;
}

#legal_index {
  right: 37.5px;
}

#legal_privacy {
  left: 25px;
  background-color: transparent;
}

#legal_terms {
  position: relative;
  left: 200px;
  background-color: transparent;
}

.switch {
  margin-left: 5px;
  margin-top: 3.5px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  top: 0;
  position: absolute;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010101;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10.67px;
  width: 10.67px;
  left: 2.3px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16.5px);
  transform: translateX(16.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#hamburger {
  display: inline-block;
  position: absolute;
  top: 6.5px;
  margin-left: 8px;
  height: 14px;
  width: 14px;
}

#dot-menu:checked {
  height: 50px;
  width: 50px;
}

.ham_dot {
  background-color: #010101;
}

.topleft,
.topright,
.bottomright,
.bottomleft {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topright,
.topleft {
  top: 0;
}

.bottomleft,
.bottomright {
  top: 9px;
}

.topright,
.bottomright {
  left: 9px;
}

.topleft,
.bottomleft {
  left: 0;
}

.on {
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
}

p {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.center-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.pics_half {
  width: 47vw;
}

.pics_full {
  width: 94vw;
}

#loader_ani_div {
  position: fixed;
  top: 0;
}

#enter_flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader_font {
  font-size: 4.5vw;
  font-family: clark_book;
  color: #010101;
}

.loader_title {
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader_o {
  display: inline-block;
  border-radius: 2vw;
  border: 0.45vw solid #010101;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  height: 2.385vw;
  width: 4.5vw;
}

#loader_o_id {
  width: 4.5vw;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#loader_o_id:hover {
  width: 18vw;
}

.enter_main_title {
  font-size: 6vw;
}

.enter_main_title_o {
  border: 0.64vw solid #010101;
  border-radius: 3vw;
  height: 3.18vw;
}

#loader_bar_id {
  width: 38vw;
}

.loader_later_text {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.enter_text {
  font-family: clark_light;
  width: 59vw;
  font-size: 22px;
  text-align: center;
}

#enter_title {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.button {
  background-color: transparent;
  border: 2px solid #010101;
  color: #010101;
  text-align: center;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: clark_light;
  border-radius: 3vw;
}

.enter_button {
  height: 44px;
  margin-top: 1.3vw;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}

.button:hover {
  background-color: #010101;
  color: #efedea;
}

#loader_img1 {
  opacity: 0;
  -webkit-animation: appear 3s;
          animation: appear 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#loader_img2 {
  -webkit-animation: disappear 1s;
          animation: disappear 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#loader_img3 {
  opacity: 0;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#loader_img4 {
  opacity: 0;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes appear {
  0% {
    display: none;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    display: none;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.sub-title {
  position: fixed;
  top: 0;
  height: 300px;
  background-color: #efedea;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sub-title-text {
  font-size: 108px;
  font-family: clark_book;
  margin-left: 25px;
  position: absolute;
  bottom: 0;
}

.main-section {
  width: 100%;
  padding: 25px;
  position: absolute;
  top: 250px;
  height: 200px;
}

.product-cata {
  position: absolute;
  top: 300px;
  width: 100%;
}

.detail_cata {
  top: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.theme_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 330vw;
  background: pink;
}

.detail-items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  height: 30vh;
  background: darkcyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.item-des {
  text-align: center;
  margin-bottom: 10px;
}

.item_info {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 20px;
}

.items {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  height: 22.75%;
  margin-bottom: 2%;
  min-height: 19vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-photo {
  width: 16.67vw;
  border-radius: 20%;
  position: absolute;
  z-index: 1;
}

.item-photo-detail {
  height: 30vh;
  border-radius: 20%;
  position: absolute;
  z-index: 1;
}

.item-name {
  font-size: 18.28px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 15px;
}

.item-des-detail {
  line-height: normal;
  position: relative;
  left: 20vw;
  width: 20vw;
}

.item-name-detail {
  font-size: 18.28px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 15px;
}

.purchase_btn {
  width: 167px;
  height: 44.38px;
  font-size: 24.65px;
  border-radius: 69.4288px;
  border: 1px solid #010101;
  background-color: transparent;
}

.animate_img_cl {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.anim_img {
  border-radius: 4%;
  width: 80%;
  height: 90%;
}

#sq_ani_img1 {
  position: fixed;
  right: 0px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes move {
  0% {
    width: 0;
    right: 0px;
  }
  50% {
    width: 80%;
    right: 720px;
  }
  100% {
    width: 0%;
    right: 1440px;
  }
}

@keyframes move {
  0% {
    width: 0;
    right: 0px;
  }
  50% {
    width: 80%;
    right: 720px;
  }
  100% {
    width: 0%;
    right: 1440px;
  }
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#box {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

#box img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100vh;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  border-radius: 50px;
}

.menu_div_cl {
  margin: 30px;
  height: 88%;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#row_detail {
  width: 250%;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

.midCol img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.leftCol {
  font-family: "clark_light";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  letter-spacing: -4px;
  display: flex;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.leftCol_menu {
  font-family: "clark_light";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  letter-spacing: -4px;
  display: flex;
}

.midCol {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.rigCol {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.rigCol_menu {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.rigCol_menu img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_title_text {
  line-height: 98px;
  font-size: 108px;
}

.detail_explain {
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: normal;
}

.col_left_text {
  margin-right: 40px;
  margin-top: 10px;
}

#menu_title2 {
  position: relative;
  top: 5%;
}

#detail_product_title {
  top: 10%;
  position: relative;
}

#detail_about_title {
  font-size: 40px;
  letter-spacing: -0.05em;
}

.double-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.cta_menu {
  margin-top: auto;
  margin-right: 40px;
}

#arrow_icon {
  display: inline;
  height: 83.45px;
  width: 101px;
  position: relative;
  right: 0;
  float: right;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  height: 100px;
  background-color: green;
}

.dark-mode {
  background-color: #010101;
  color: #efedea;
}

.dark-mode-logo {
  background: url("sqsp_icon_w.svg");
}

.dark-mode-r {
  background-color: #efedea;
}

.dark-mode .slider:before {
  background-color: #010101;
}

@media only screen and (max-width: 1680px) {
  .legal_bottom {
    height: 55px;
  }
}
/*# sourceMappingURL=styles.css.map */