//variables
$black: #010101;
$beige: #efedea;

//animation duration
$ani_dur: 0.4s;

//---loaders 1440px
//66/1440=0.045
$loader-font-size-1440: 4.5vw;
$loader-font-size-enter-1440: 6vw;

//legal
$tb_padding: 25px;
$lr_padding: 25px;

//index page
$sub-title-height: 300px;

//image radius
$imgRoundRadius: 50px;

//detail page:
$left_col_padding: 40px;

@font-face {
  font-family: "clark_book";
  src: url("../resources/Clarkson/Clarkson-BookProduct.woff") format("woff");
}
@font-face {
  font-family: "clark_light";
  src: url("../resources/Clarkson/Clarkson-Light.woff") format("woff");
}

html body {
  background-color: $beige;
  margin: 0;
  font-family: clark_book;
  padding: 0;
  // cursor: defalut;
  transition: 0.4s;
  cursor: url("../resources/img/cursor.svg") 16 16, pointer;

  // height:4000px;
  // -webkit-transition: 0.4s;
  // transition: 0.4s;
  // height: 100vh;
  // width: 100vw;
  // overflow: hidden;
}
.body_cl {
  width: 100vw;
  height: 100vh;
  // background-color: black;
  margin: 0;
}
.menu_detail_main_id{
  width:auto;
}
::-webkit-scrollbar {
  display: none;
}

// ------------ legal CSS start here ------------ //
.transitionAni {
  transition: 0.4s;
}
.legal {
  position: fixed;
  top: 0;
  z-index: 100;
}
.legal_item {
  display: inline-block;
  position: absolute;
  // top: 0;
  font-size: 20px;
}
.legal_top {
  position: fixed;
  top: $tb_padding;
  left: 0;
  display: inline-block;
  align-items: start;
  vertical-align: top;
  height: 30px;
  width: 100vw;
  //   background-color: pink;
  //   padding-left:10px;
  //   padding-right:10px;
}
.legal_bottom {
  position: fixed;
  // bottom: $tb_padding;
  bottom: 0;
  width: 100vw;
  z-index: 20;
  height: 73.04px;
  background-color: $beige;
  display: flex;
  // justify-content: center;
  align-items: center;
}
.legal_bottom_links {
  font-size: 18px;
  color: $black;
  text-decoration: none;
}
#legal_logo {
  left: $lr_padding;
}
#legal_info {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
#legal_mode {
  left: 70%;
}
#legal_index {
  right: 1.5 * $lr_padding;
}
#legal_privacy {
  //   position: relative;
  left: $lr_padding;
  background-color: transparent;
}
#legal_terms {
  position: relative;
  //   left: 12%;
  left: 200px;
  background-color: transparent;
}
//-----------black mode switch-----------//
.switch {
  margin-left: 5px;
  margin-top: 3.5px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  top: 0;
  position: absolute;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  // cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  //   height: 10.67px;
  //   width: 10.67px;
  height: 10.67px;
  width: 10.67px;
  left: 2.3px;
  bottom: 2.3px;
  background-color: white;
  // background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16.5px);
  -ms-transform: translateX(16.5px);
  transform: translateX(16.5px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//----------index dots--------//
#hamburger {
  display: inline-block;
  position: absolute;
  top: 6.5px;
  margin-left: 8px;
  height: 14px;
  width: 14px;
  // background-color: red;
}
#dot-menu:checked {
  height: 50px;
  width: 50px;
  // background-color: red;
}
.ham_dot {
  background-color: $black;
}
.topleft,
.topright,
.bottomright,
.bottomleft {
  position: absolute;
  border-radius: 50%;
  // transition-duration:top 0.4s ease;
  // transition-duration:left 0.4s ease;
  width: 6px;
  height: 6px;
  transition-duration: 0.4s;
  transform: translate(-50%, -50%);
}
.topright,
.topleft {
  top: 0;
}
.bottomleft,
.bottomright {
  top: 9px;
}
.topright,
.bottomright {
  left: 9px;
}
.topleft,
.bottomleft {
  left: 0;
}
.on {
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
}

// ------------  end------------ //

p {
  margin: 0;
}
.clickable {
  // cursor: pointer;
  cursor: url("../resources/img/cursor.svg") 20 20, pointer;

}
.center-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // border: 3px solid green;
  // flex-flow: row wrap;
  // flex-direction: column;
}
.pics_half {
  width: 47vw;
}
.pics_full {
  width: 2 * 47vw;
}
#loader_ani_div {
  position: fixed;
  top: 0;
  // margin: 1vw;
}
#enter_flex {
  flex-direction: column;
}
.loader_font {
  font-size: $loader-font-size-1440;
  font-family: clark_book;
  color: $black;
}
.loader_title {
  height: 16px;
  align-items: center;
  justify-content: center;
}

.loader_o {
  display: inline-block;
  border-radius: 2vw;
  border: 0.45vw solid $black;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  height: 0.53 * $loader-font-size-1440;
  width: $loader-font-size-1440;
}
#loader_o_id {
  width: $loader-font-size-1440;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
#loader_o_id:hover {
  width: 4 * $loader-font-size-1440;
}
.enter_main_title {
  font-size: $loader-font-size-enter-1440;
}
.enter_main_title_o {
  border: 0.64vw solid $black;
  border-radius: 3vw;
  //140 / 1440=
  height: 0.53 * $loader-font-size-enter-1440;
}
#loader_bar_id {
  // width: 8vw;
  width: 38vw;
}
.loader_later_text {
  //we want a slower effect
  transition-duration: 1s;
}
.enter_text {
  //650/1440=0.4513
  font-family: clark_light;
  width: 59vw;
  font-size: 22px;
  text-align: center;
}
#enter_title {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.button {
  background-color: transparent;
  border: 2px solid $black;
  color: $black;
  text-align: center;
  font-size: 40px;
  transition-duration: 0.4s;
  font-family: clark_light;
  border-radius: 3vw;
}

.enter_button {
  // width: 200px;
  height: 44px;
  margin-top: 1.3vw;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}
.button:hover {
  background-color: $black;
  color: $beige;
}
// loader image animation
#loader_img1 {
  opacity: 0;
  animation: appear 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  //   animation-fill-mode: forwards;
}
#loader_img2 {
  animation: disappear 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#loader_img3 {
  opacity: 0;
  animation: appear 2s;
  animation-delay: 4s;
  //   animation-fill-mode: forwards;
}
#loader_img4 {
  opacity: 0;
  animation: appear 2s;
  animation-delay: 3s;
  //   animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    display: none;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

//detail pages--------index
.sub-title {
  position: fixed;
  top: 0;
  height: $sub-title-height;
  // text-align-last: justify;
  // top:3*$tb_padding;
  background-color: $beige;
  width: 100%;
  z-index: 10;
  transition: 0.4s;
}
.sub-title-text {
  font-size: 108px;
  font-family: clark_book;
  margin-left: $lr_padding;

  position: absolute;
  bottom: 0;
}
.main-section {
  width: 100%;
  // background-color: pink;
  padding: $tb_padding;
  position: absolute;
  top: 10 * $tb_padding;
  // width:100vw-2*$tb_padding;
  // width:auto;
  height: 200px;
}

.product-cata {
  // height: 190vh;
  background-color: $beige;
  position: absolute;
  top: $sub-title-height;
  width: 100%;
}
.detail_cata {
  top: 100px;
}

// -----------------------index page-------------//
.animated {
  animation-delay: 0;
}
img {
  max-width: 100%;
  height: auto;
}
#app_l {
  // position: fixed;
}
#app {
  // width: 100%;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  // position: fixed;

  // padding-left: $lr_padding;
  // padding-right: $lr_padding;
  justify-content: space-between;
  &:after {
    content: "";
    flex: auto;
  }
}
.theme_catalog {
  display: flex;
  flex-wrap: wrap;
  // width:5400px;
  // width: 330vw;
  // width: 480vw;

  background: pink;

  // justify-content: space-between;
  // flex-direction: column;
}
.detail-items {
  flex-shrink: 0;
  width: 40vw;
  // flex: 1 0 21%; /* explanation below */
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  height: 34vh;
  background: darkcyan;
  display: flex;
  align-items: center;
}
.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}
.item-des {
  text-align: center;
  margin-bottom: 10px;
}
.item_info {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 20px;
}
.items {
  // border: 1px solid lightgreen;
  text-align: center;
  // text-align: left;
  box-sizing: border-box;
  width: 20%;
  height: 22.75%;
  margin-bottom: 2%;
  min-height: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .item-des {
//   display: none;
// }
.item-photo {
  width: 16.67vw;
  border-radius: 20%;
  position: absolute;
  z-index: 1;
}
.item-photo-detail {
  // width: 17vw;
  height: 34vh;
  border-radius: 20%;
  position: absolute;
  z-index: 1;
}

.item-name {
  font-size: 18.28px;
  font-weight: normal;
  // margin: 0 0 1rem 0;
  text-align: left;
  margin-bottom: 15px;
}
.item-des-detail {
  line-height: normal;
  position: relative;
  left: 20vw;
  width: 20vw;
}
.item-name-detail {
  font-size: 18.28px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 15px;
}

.purchase_btn {
  width: 167px;
  height: 44.38px;
  font-size: 24.65px;
  border-radius: 69.4288px;
  border: 1px solid $black;
  background-color: transparent;
}

//--------animated loading squezzed animation
.animate_img_cl {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  // background-color: pink;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.anim_img {
  border-radius: 4%;
  width: 80%;
  height: 90%;
}
#sq_ani_img1 {
  position: fixed;
  right: 0px;
  animation-name: move;
  animation-duration: 4s;
}
@keyframes move {
  0% {
    width: 0;
    right: 0px;
  }
  50% {
    width: 80%;
    right: 720px;
  }
  100% {
    width: 0%;
    right: 1440px;
  }
}

//--------------anim3

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
#box {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
#box img {
  flex-shrink: 0;
  transition: 0.4s;
  height: 100vh;
  transform-origin: left center;
  border-radius: $imgRoundRadius;
}
//--------------menu-------//

.menu_div_cl {
  margin: 30px;
  // background-color: lightblue;
  height: 88%;
  width: 100%;
  display: flex;
}
.lineTwo_title {
  --animate-delay: 2s;
}
.detail_div {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 100%;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  // width: 150vw;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 150vw;
  // position: relative;
  // top: 0;
}
#row_detail {
  // width: 150vw;
  // width: 650vw;
  // height: 100vh;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
  height: 100%;
}
.midCol img {
  width: 100%;
  height: 100%;
  border-radius: $imgRoundRadius;
  object-fit: cover;
}
.leftCol {
  // padding-left:$lr_padding;
  // padding-left:25px;
  font-family: "clark_light";
  display: flex;
  flex-direction: column;
  // background-color: pink;
  height: 90%;
  // font-size: 108px;
  letter-spacing: -4px;
  display: flex;
  flex-shrink: 2;
  flex: 1 1 0;
}
.leftCol_menu {
  font-family: "clark_light";
  display: flex;
  flex-direction: column;
  // background-color: pink;
  height: 90%;
  // font-size: 108px;
  letter-spacing: -4px;
  display: flex;
}

.midCol {
  flex-shrink: 1;
  flex: 2 1 0;
}
.rigCol {
  padding-left: 8vw;
  // position: absolute;
  //  top: 0;
  position: relative;
  left: 150vw;
  top: -100vh;
  width: 100%;
  height: 100%;
}
.rigCol_menu {
  flex-shrink: 1;
  // flex: 2 1 0;
}
.rigCol_menu img {
  width: 100%;
  height: 100%;
  border-radius: $imgRoundRadius;
  object-fit: cover;
}
.menu_title_text {
  line-height: 98px;
  font-size: 108px;
}
.title_text {
  // line-height: 98px;
  // font-size: 108px;
}
.detail_explain {
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: normal;
}
.col_left_text {
  margin-right: $left_col_padding;
  margin-top: 10px;
}
#menu_title2 {
  position: relative;
  // top: 10%;
  top: 5%;
}
//rigCol top 10%
#detail_product_title {
  // top: 10%;
  top: 20%;
  position: relative;
}

#detail_about_title {
  font-size: 40px;
  letter-spacing: -0.05em;
}
.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
.cta_menu {
  margin-top: auto;
  margin-right: $left_col_padding;
}
#arrow_icon {
  display: inline;
  height: 83.45px;
  width: 101px;
  position: relative;
  right: 0;
  float: right;
  animation: arrowMove 1.2s infinite;
}
@keyframes arrowMove {
  0% {
    right: 3%;
  }
  60% {
    right: 0%;
  }
  100% {
    right: 3%;
  }
}
.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  height: 100px;
  background-color: green;
}
//-------------info-----------------//
#rigCol_info_id {
  height: 90%;
}
#info_page_id {
  position: fixed;
  top: 0;
  background-color: $beige;
}
.info_title {
  font-family: clark_light;
  /* font-weight: 300; */
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 2vw;
}
.info_title_s {
  font-family: clark_light;

  text-transform: uppercase;
  font-size: 23.34px;
  line-height: 29px;
  margin-top: 3.5vw;
}
.info_main_text {
  font-family: clark_light;
  margin-top: 1vw;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.03em;
}
#sqsp_btn_id {
  width: auto;
  height: auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  border: 2px solid #000000;
  margin-top: 1.7vw;
  font-size: 33.9769px;
  /* margin: 1vw; */
}

//-------------dark mode-----------------//
.dark-mode {
  background-color: $black;
  // transition: 0.4s;

  color: $beige;
  // background: url("sqsp_icon_w.svg");
}
.dark-mode-logo {
  background: url("sqsp_icon_w.svg");
}
.dark-mode-r {
  background-color: $beige;
}
.dark-mode .slider:before {
  background-color: $black;
}

//--------------------Media Query ---------------------//
//----------1680px----------//

@media only screen and (max-width: 1680px) {
  .legal_bottom {
    height: 55px;
  }
}
